---
layout: archive
permalink: /tags/
title: "Posts by Tags"
author: Ryen Tang
author_profile: false
header:
  image: ./assets/images/banners/Tags-1280x200.png
---

{% include base_path %}
{% include group-by-array collection=site.posts field="tags" %}

{% for tag in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h2 id="{{ tag | slugify }}" class="archive__subtitle">{{ tag }}</h2>
  {% for post in posts %}

    <!-- kiazhi.github.io - In-Feed - Text Advertisement -->
    {% assign loopindex = forloop.index | modulo: 2 %}
    {% if loopindex == 1 %}
        {% include /advertisements/in-feed.html %}
    {% endif %}

    {% include archive-single.html %}
  {% endfor %}
{% endfor %}